---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import MainContent from "../components/MainComponent.astro";
---

<Layout title="Quote Builder Dashboard">
  <main>
    <div class="dashboard">
      <Header />
      <div class="main-container">
        <Sidebar />
        <MainContent />
      </div>
    </div>
  </main>
</Layout>

<style>
  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    color: black;
  }

  .main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
</style>
