---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import MainContent from "../components/MainComponent.astro";
---

<Layout title="Quote Builder Dashboard">
  <main>
    <div class="dashboard">
      <Header />
      <div class="main-container">
        <Sidebar />
        <MainContent />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1e1e1e;
    color: white;
  }

  .main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
</style>
