---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
// import Sidebar from "../components/Sidebar.astro";
import PricePopup from "../components/PricePopup.astro";
import MainContent from "../components/MainComponent.astro";
import Footer from '../components/Footer.astro'
---

<Layout title="Quote Builder Dashboard">
  <main>
    <div class="dashboard">
      <Header />
      <!-- <Sidebar /> -->
      <MainContent />
      <PricePopup />
      <Footer />
    </div>
  </main>
</Layout>

<style>
  .dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    color: black;
  }

  .main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
</style>
