---

---

<header
  class="fixed top-0 left-0 w-full z-10 flex justify-between items-center px-4 py-2 bg-white/80 backdrop-blur-xl text-gray-900 shadow-md"
>
  <div class="flex">
    <img
      src="/public/tripsandtrade-logo.png"
      alt="company-logo"
      class="w-24 h-auto mr-4"
    />
  </div>

  <div class="container mx-auto">
    <h1 class="text-2xl font-bold">Quote Builder Dashboard</h1>
  </div>

  <div class="flex">
    <img
      src="/public/profile-avtar.png"
      alt="profile-logo"
      class="w-12 h-auto"
    />
  </div>
</header>
